<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Aggregation Settings </h1>
        <p>The aggregation settings will establish and apply conditional aggregation rules for specific columns within the widget. </p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Order – </span>If there are multiple ways by which the column may be aggregated, will set the order in which these aggregation methods are applied. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Enabled –</span> Aggregation rules may be enabled or disabled on a case-by-case basis. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Conditional Check Field Name –</span> The column which will contain the condition which determines if the special aggregation type will be applied. This will be a field in the data area.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Column Scope Field Name – </span>Defines the column qualifier for the conditional aggregation. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Row Scope Field Name – </span>Defines the row qualifier for the conditional aggregation. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Summary Type –</span> The aggregation type which will be applied. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Apply To Row Totals –</span> If selected, the aggregation type will be applied to the row totals. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Apply To Row Grand Totals –</span> If selected, the aggregation type will be applied to the row grand totals. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Apply To Column Totals –</span> If selected, the aggregation type will be applied to the column totals. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Apply To Column Grand Totals –</span> If selected, the aggregation type will be applied to the column grand totals. </li>
        </ul>
    </body>
</html>