<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Band Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Band Left Caption – </span>The header band which acts as a container for the columns. The left band will exist on the left side of the widget.  </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Band Center Caption –</span> The header band which acts as a container for the columns. The center band will exist in the center of the widget.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Band Right Caption –</span> The header band which acts as a container for the columns. The right band will exist on the right side of the widget.&#160; </li>
        </ul>
    </body>
</html>