<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Browsers</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-family: Consolas;color: #008080;font-size: 10pt;">WidgetTypeID</span> = 6</li>
        </ul>
        <p>The browser widget<span class="apple-converted-space" style="font-family: Arial;color: #000000;font-size: 10pt;">&#160;</span>is essentially an instance of Microsoft Internet Explorer (IE) that is tied into the JustEnough application. Beyond just basic web surfing, the browser widget can be used to access custom web applications built specifically for end users.</p>
    </body>
</html>