<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Building and Maintaining Views</h1>
        <p>The ability to build and maintain both the standard views and custom workflows within the JustEnough user interface makes it one of the most powerful tools available to retail, wholesale, and manufacturing clients. When creating and editing a view, users will be required to choose which widgets to include and how the management of required parameters will be handled. </p>
    </body>
</html>