<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Chart Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Enabled – </span>If checked, the chart options will be available for the pivot grid. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Data Vertical –</span> If selected, will display the pivot data vertically.  </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Selection Only –</span> If enabled, the pivot chart will only map the highlighted data cells for the chart features (as opposed to charting every row and column).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Show Column Grand Totals –</span> If checked, will display the grand totals for columns which may be summed in the chart view.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Show Column Totals –</span> If checked, will display the totals for columns which may be summed in the chart view.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Show Row Grand Totals –</span> If checked, will display the grand totals for rows which may be summed in the chart view.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Show Row Totals –</span> If checked, will display the totals for rows which may be summed in the chart view.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Vertical X Axis Labels –</span> If checked, will display the X axis labels within the chart. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Show Legend –</span> If checked, will show the chart legend. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Show Point Labels –</span> If checked, will display the data related to the point within the chart. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart View Type –</span> The type of chart (see chart widget for further details on chart types). Note that not all chart types may be available or practical for use with pivot data. </li>
        </ul>
    </body>
</html>