<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Charts</h1>
        <h1 >General</h1>
        <p>The general section will hold header level information about the widget.</p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Name – </span>The unique name for the widget. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Description –</span> The optional description for the widget. Can be very useful for disambiguation (especially when exporting widgets).</li>
        </ul>
    </body>
</html>