<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Column Settings</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Column Friendly Name –</span> An optional user readable name.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Column Order –</span> The stacked numerical order for the columns in the widget. Any column without the “visible” flag checked will have an order of “0”.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Format String –</span> The format string settings will affect how data is displayed. Format string entries will vary depending on the data type. Examples include:</li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">P2 –</span> A percentage with two decimal places.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">F3 –</span> A fixed point decimal with three decimal places.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">C –</span> A currency.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">D6 –</span> A decimal with six decimal places.</li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Column Name Format String</span> – A format string applied to the column name. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Horizontal Alignment </span>– The horizontal alignment will adjust how the data is aligned within the cells. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Vertical Alignment </span>– The vertical alignment will adjust how the data is aligned within the cells. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow DB Null </span>– When adding a row, will validate that the proper data has been supplied. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Default Value </span>– If there is a default value which should be displayed in the column, this value should be listed here. When relying on the application or the user to provide the value, this field should be left blank (null).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Fixed Width </span>– If selected, the column width will not be editable by the user. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Show Hide – </span>If selected, will determine whether the column can be hidden or restored by an end-user. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Move –</span> If selected, the users will be able to move and re-order the columns.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Group –</span> May be used to prevent aggregation of a column.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Write Enabled –</span> If selected, the users will be able to write values to the cells within the columns. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Visible –</span> If selected, the column will be visible within the grid. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Size –</span> If selected, will allow the end user to re-size the column. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Filter –</span> If selected, users may add a filter to the column.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Sort –</span> If selected, users may sort the column.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter –</span> Will define the parameter which is broadcast to the other widgets upon selection (highlight).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Caption –</span> If selection, the column header will show. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Fore Color –</span> The text color for the column. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Back Color –</span> The background color for the column. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Auto Filter – </span>If selected, auto filter row will become read-only for this column.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Grid Group Summary –</span> When using the pivot functionality to create groups, the subtotal count for the group will be displayed.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Grid Totals –</span> If selected, will display the count totals for the grid. </li>
        </ul>
    </body>
</html>