<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Column</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Column – </span>The column name.</li>
        </ul>
        <h1 >Band Settings</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Band Type – </span>Determines if the column is of type “pivot”, the default band type will place the column in the center band. If the column is of type “non-pivot”, and does not contain the “JESUM” expression, then the column will be placed in the left band. If the column is of type “non-pivot”, and does contain the “JESUM” expression, then the column will be placed in the right band.  Band types may also be manually set to determine the band placement. </li>
        </ul>
    </body>
</html>