<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Column Total Options </h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Column Grand Totals – </span>Will display the grand totals for columns which may be summed. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Column Totals –</span> Will display the total for the column if the column may be summed.</li>
        </ul>
    </body>
</html>