<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Construction</h1>
        <p>Chart construction contains details about how the chart is built. </p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Chart Type – </span>The practical chart types will vary depending on the data selected and their associated dimensions. Not every chat type will make sense for every data set. Chart types include:</li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Bar</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Bar Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Bar Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Side By Side Bar Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Side By Side Bar Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Bar 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Bar 3D Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Bar 3D Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Side By Side Bar 3D Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Side By Side Bar 3D Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Manhattan Bar</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Point</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Bubble</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Line</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Line Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Line Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Step Line</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Spline</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Scatter Line</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Swift Plot</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Line 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Line 3D Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Line 3D Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Step Line 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Spline 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Pie</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Doughnut</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Pie 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Doughnut 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Funnel</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Funnel 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Area</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Area Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Area Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Step Area</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Spline Area</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Spline Area Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Spline Area Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Area 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Area 3D Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Area 3D Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Step Area 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Spline Area 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Spline Area 3D Stacked</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Spline Area 3D Stacked 100%</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Range Bar</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Side By Side Range Bar</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Range Area</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Range Area 3D</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Radar Point</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Radar Line</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Radar Area</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Polar Point</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Polar Line</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Polar Area</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Stock</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Candle Stock</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Gantt</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Side By Side Gantt</li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Appearance – </span>The appearance section will let users set the color palette and the style, as well as to preview their graph. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Series –</span> The series section will display all of the included data series for the chart. Depending on the chart type, there may be one or many series displayed at one time. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Data –</span> The data section will describe the data points returned by the method to the chart. </li>
        </ul>
    </body>
</html>