<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Create/Edit Parameter</h1>
        <p>Several fields must be supplied in order to create a valid parameter, including some knowledge of the SQL parameter (which will not be available anywhere within the user interface).</p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Name – </span>The name for the parameter.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Description –</span> An optional description of the parameter. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Caption –</span> The name which will be presented as part of the user prompt to supply a parameter value. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter SQL Name –</span> The linked SQL parameter. Name must match the name in the database. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter is Visible –</span> If checked, the parameter will be visible to users. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Width –</span> The specified width of the prompt box.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Height –</span> The specified height of the prompt box. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Default Value –</span> The default value supplied without user override. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Type –</span> Defines the how the value or values may be passed to the parameter. Options include single and multi-selects.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Data Type –</span> The associated data type.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Null –</span> If selected, will permit a null value to be returned to the parameter. </li>
        </ul>
    </body>
</html>