<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Custom Views</h1>
        <p>To properly build a custom maintenance screen within the views module, the first step is to define a workflow outline, then plan the requirements for the new view. The view should be thought of as a single screen, so any information which would need to be accessed at the same time should be considered for inclusion. Views with multiple widgets should not be cluttered or overly busy (this may be controlled via the view type). </p>
        <p>To build a new custom view, begin by opening the view management window and selecting “new”.</p>
        <p>
            <img src="../../Resources/Images/Views/Editing an Existing View_1.png" style="visibility: visible;width: 673px;height: 433px;" />
        </p>
        <p>This will bring up the create window with a full listing of available view groups on the left side. A view group must be selected as a container for the new view. </p>
        <p>
            <img src="../../Resources/Images/Views/Custom Views_1.png" style="visibility: visible;width: 557px;height: 559px;" />
        </p>
        <p>The view must be given a name and should also be given a description. Next, users should assign a view type (Vertical Widget Layout, Tabbed Widget Layout, or Layout Controlled Widget Layout).</p>
        <p>Next users should select how the parameters are treated within the view by determining the behavior of the five parameter settings. </p>
        <p>Following this, a widget or multiple widgets should be added to the view. This is done by clicking the “Add” button below the widget pane. Once added, widgets may be reordered (important especially in a vertical widget layout). </p>
        <p>
            <img src="../../Resources/Images/Views/Custom Views_1_1.png" style="visibility: visible;width: 609px;height: 489px;" />
        </p>
        <p>After widgets have been added, their respective parameters will appear in the parameters pane near the bottom of the view creation window. </p>
        <p>Assignment of user access rights is commonly overlooked and should be the first place checked if users are having difficulty locating a view. Clicking on “Assign Access Rights” will bring up the access rights window. Here, specific users or roles may be added or removed from accessing the view. </p>
        <p>
            <img src="../../Resources/Images/Views/Custom Views_1_2.png" style="visibility: visible;width: 619px;height: 413px;" />
        </p>
        <p>Once finished, click “Add” at the bottom of the window to add the view to the respective view group and make it accessible through the “views” tab in the navigation pane. </p>
    </body>
</html>