<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Custom Views</h1>
        <p>As the workflow requirements vary greatly from implementation to implementation, JustEnough consultants will commonly utilize the view module to showcase the extensibility of JustEnough. Custom view are commonly built for one of two purposes:</p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Custom Reports</span> – In cases where users require a report on data which are contained within the JustEnough database, but is not presented in one of the standard JustEnough modules, a custom report may be built using the views module. Like other views, these custom reports may have user rights assigned where required. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Custom Maintenance Screens </span>– In cases where there is a requirement to manipulate data outside of the standard JustEnough modules, either to enhance the performance of the standard modules, or to otherwise adjust the inputs or results of the standard modules, custom maintenance screens will be built. Some common examples include:</li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Site Supersession</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Sales Forecasting</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Supplier Lead Time Grading</li>
            <li class="ListParagraph" style="list-style-type: circle;font-weight: bold;">Financial Plan Branching Matrices</li>
        </ul>
    </body>
</html>