<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Data Writeback</h1>
        <p style="margin-bottom: 0pt;">The data writeback will define the method (database stored procedure) which will run when the “apply” button is pressed. These are typically <span style="font-family: Consolas;color: #FF00FF;font-size: 10pt;">UPDATE</span> statements. </p>
    </body>
</html>