<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Editing an Existing View</h1>
        <p>Standard views may be edited by opening them through the “Configure” toolbar, then clicking “Views”.</p>
        <p>
            <img src="../../Resources/Images/Views/Editing an Existing View.png" style="visibility: visible;width: 662px;height: 83px;" />
        </p>
        <p>This will bring up the view management window. From here, views may me edited, imported, or exported. </p>
        <p>
            <img src="../../Resources/Images/Views/Editing an Existing View_1.png" style="visibility: visible;width: 673px;height: 433px;" />
        </p>
        <p>Selecting a view and clicking “Edit” will launch the edit window.</p>
        <p>
            <img src="../../Resources/Images/Views/Editing an Existing View_2.png" style="visibility: visible;width: 552px;height: 555px;" />
        </p>
        <p>Users may edit the settings of the view as needed. When finished, click “Apply” to save any changes. </p>
    </body>
</html>