<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Essential Business Concepts</h1>
        <p>There are several different widget types, each intended for use in a particular environment, or workflow. Some widgets are well suited for returning data to the users, some are well suited for workspace functions, and some function well in both applications. The keys to properly selecting which widget type to use are understanding the particulars of the data and the details of the workflow requirements. </p>
    </body>
</html>