<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Essential Business Concepts</h1>
        <h1 >Utilizing Existing Views</h1>
        <p>Most standard views will be accessed as part of the workflow process in their respective modules (and associated view collection sets and view collections), but any custom views will need to be accessed from within the views module itself. These views will be located in a view group (folder) in the “views” tab of the navigation menu. Double clicking on the view will open in in a tab and users may use the view as intended from this location.</p>
    </body>
</html>