<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Essential Business Concepts</h1>
        <p>There are two types of parameters which may be managed through the parameter maintenance screen: system parameters and user parameters. System parameters will not be visible to the user; it is possible that system parameters may have values injected into them (by .NET code) such as user ID, and session ID. It is not advisable to alter system parameters. </p>
        <p>User parameters operate at the user level and may be built to create consistency throughout the application, or at minimum, across widgets. </p>
    </body>
</html>