<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Expression Settings</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Expression Column –</span> Will be checked if the column is an expression column. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Expression –</span> The associated expression if the column is an expression column. </li>
        </ul>
    </body>
</html>