<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Field Definitions</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">View Name – </span>The name for the selected view. View names do not need to be unique within the view group, but it is highly suggested to add some manner of unique identifier to the view name for ease of navigation in the future. View groups may be created and maintained in the view groups pane to the left of the view creation/edit window.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">View Description –</span> A simple description of the view. May include author or date if desired.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">View Type –</span> Will determine the layout possibilities for the widgets contained within the view. Requirements will vary depending on the number of widgets. </li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Vertical Widget Layout –</span> Will stack the widgets vertically based on the order provided in the widgets pane below. If the view contains only one widget, it is common to see this view type selected.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Tabbed Widget Layout –</span> Will create a tab style layout similar to those provided by the view collections. </li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Layout Controlled Widget Layout –</span> The most customizable layout, allowing for much greater customization and configuration of the view. If selected, the widget order will become irrelevant and the user will be able to “drag and drop” elements within the views to manipulate the widgets, scroll bars and separators in order to best frame the workflow process. </li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Hide Parameters – </span>If there are required parameters for the view to pass to the database in order to retrieve data, they will be displayed near the top of the view. If it is preferred to hide the parameter section in order to accommodate more screen space, this box may be checked.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Auto Refresh on Parameter Change –</span> In cases where it is intended for the users to toggle between several parameters within the same view, the “auto refresh on parameter change” may be selected to make the entire view refresh without the need to click the “execute” button. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Auto Refresh on Widget Parameter Change –</span> Will refresh data when a parameter within a widget changes. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Update Method Parameter Value –</span> In situations where there are more than one parameter and they are dependent upon one another, selection of this box will allow the parameters to update if there is a change to one or the other. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Use and Save User View Parameter Values –</span> If selected, will save the parameters when the view is closed and reopened. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Widgets –</span> The widget pane will display the widgets selected for inclusion in the view. </li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Widget Name –</span> The assigned name as defined in the “maintain widgets” configuration sub-menu.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Widget Description –</span> The assigned description as defined in the “maintain widgets” configuration sub-menu.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Order –</span> For vertical widget layouts and tabbed widget layouts, this will determine the order in which the widgets appear in the view. The lowest number will be stacked near the top in a vertical layout and near the left in a tabbed layout. </li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Assign Access Rights – </span>This button will bring up the included and excluded roles and users wizard commonly used throughout JustEnough. Roles or specific users may be granted access to this view or restricted as required. If users are having trouble finding a needed view, this is a common troubleshooting spot to check. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parameter Sequence – </span>The parameter sequence pane will display the parameters required for each of the widgets listed in the above widgets pane. </li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Parameter Name –</span> The assigned name as defined in the “maintain parameters” configuration sub-menu.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Widget Name – </span>The name of the widget for which the parameter is a requirement. </li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Sequence –</span> The order in which the parameters are displayed (left to right) across the top of the screen.</li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Refresh – </span>Will refresh the changes made to reflect the new preferences for the view. </li>
        </ul>
    </body>
</html>