<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Font Settings</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Font Bold –</span> If selected, will bold the font.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Font StrikeOut –</span> If selected, will strikeout the font. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Font Italic –</span> If selected, will italicize the font. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Font Underline –</span> If selected, will underline the font. </li>
        </ul>
    </body>
</html>