<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >General</h1>
        <p>The general tab will contain header level data related to the widget. </p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Name – </span>The unique name for the widget. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Description –</span> The optional description for the widget. Can be very useful for disambiguation (especially when exporting widgets).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Read Only –</span> The widget may be made “read only” to prevent any manipulation of the presented data. </li>
        </ul>
    </body>
</html>