<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Grid Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Data Field Area – </span>Specifies the location, or lack thereof, of the data field. It is common to leave this as “none”.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Horizontal Scrolling –</span> Determines how the grid may be scrolled horizontally. </li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Cells Area –</span> Will enable the scroll bar to allow for horizontal scrolling through the data cells only.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Control –</span> Will allow users to scroll horizontally through the entire widget, including the control area.</li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Horizontal Lines – </span>Similar to Excel, will toggle the horizontal row lines on and off.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Vertical Lines –</span> Similar to Excel, will toggle the vertical column lines on and off.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Totals Location –</span> Determines the location for totals columns.</li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Near –</span> Will display the totals column to<span class="apple-converted-space" style="font-family: 'Segoe UI';color: #000000;">&#160;</span><span style="font-family: 'Segoe UI';color: #000000;">left of the column field values.</span></li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Far – </span>Will display the totals column to<span class="apple-converted-space" style="font-family: 'Segoe UI';color: #000000;">&#160;</span><span style="font-family: 'Segoe UI';color: #000000;">left of the column field values.</span></li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Compact View – </span>When checked, this value will allow users to create compact layouts for hierarchical pivot table row values thus creating more space horizontally without sacrificing the distinction between the hierarchical row values.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Filter Drop Area –</span> Will display the drag-and-drop area to add fields to the “filter” area. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Data Drop Area –</span> Will display the drag-and-drop area to add fields to the “data” area.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Column Drop Area –</span> Will display the drag-and-drop area to add fields to the “column” area.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Row Drop Area –</span> Will display the drag-and-drop area to add fields to the “row” area.</li>
        </ul>
    </body>
</html>