<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Grid Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Column Moving – </span>If selected, users may rearrange columns within the grid. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Column Resizing –</span> If selected, users may change the width of the columns.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Filter –</span> If selected, users may add a filter to the column.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Group –</span> If selected, determines whether end-users can drag the column's header to the group panel to group data against the column's values.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Quick Hide Column –</span> If selected, users may temporarily hide a column within the grid by dragging it to the data area. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Row Sizing –</span> If selected, users may change the height of the rows.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Sort – </span>If selected, users may sort the column data by ascending or descending order. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Multi-Select – </span>If selected, users may highlight and select multiple rows within the grid (by using the shift key).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Auto Filter Row –</span> Will display the auto filter row.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Group Panel –</span> Will show the group panel if groups are allowed. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Horizontal Lines – </span>Will display the horizontal grid lines. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Vertical Lines –</span> Will display the vertical grid lines. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Enable Appearance Even Row –</span> If enabled, will add a subtle color highlight to every other row within the grid in order to make it easier to read.  </li>
        </ul>
    </body>
</html>