<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Importing and Exporting Widgets</h1>
        <p>Widgets may be imported to or exported from an instance of JustEnough. This is the easiest way to transfer a particular widget from a QA or development environment to a production or alternative testing environment, or from an older version of JustEnough to a newer version (when compatible). Widgets are stored as a “.widgetf” file type.</p>
    </body>
</html>