<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Layout Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">View Caption – </span>When using the form view, the caption will appear as a header to the form. This field is technically a format string and may use the features inherent in their creation to return desired data.  </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show View Caption –</span> If selected and in cases where there is a view caption, it will be displayed.</li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Card Caption Format String –</span> The format string for the card caption.&#160; Format string entries will vary depending on the data type. Examples include:</li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">P2 –</span> A percentage with two decimal places.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">F3 –</span> A fixed point decimal with three decimal places.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">C –</span> A currency.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">D6 –</span> A decimal with six decimal places.</li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Card Caption – </span>If selected and in cases where there is a card caption, it will be displayed.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Header Panel –</span> Will display the header panel. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Expand Button –</span> Will display the “expand button”.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow </span><span style="font-weight: bold;">Hot Track Fields –</span> When using the form view, will add additional highlight functions to mouse-over.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Sort –</span> Allows sort options for the entire grid. Will override the column level settings. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Filter –</span> Allows filter options for the entire grid. Will override the column level settings</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Single Card Stretch to Width –</span> In layout mode with a single card, this selection will automatically stretch the width of the card to fit. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Single Card Stretch to Height –</span> In layout mode with a single card, this selection will automatically stretch the height of the card to fit.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Multi Card Stretch to Width –</span> In layout mode with multiple cards, this selection will automatically stretch the width of the cards to fit.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Multi Card Stretch to Height –</span> In layout mode with multiple cards, this selection will automatically stretch the height of the cards to fit.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Layout View Mode –</span> If the view mode is set to “layout”, this will determine how the layout is displayed. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Use Advanced Runtime Customization –</span> When using the form view, will enable the customizable functions so that users may edit and fine tune the layout. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Save Load Layout Buttons –</span> Will display the save and load layout buttons. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Customization –</span> Will allow users to customize the form at runtime.  </li>
        </ul>
    </body>
</html>