<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Lookup Settings</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Lookup Column –</span> Will be checked if the column is a lookup column. </li>
        </ul>
        <p>Actions</p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Actions for Column –</span> If selected, will display the action button. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Action Editor Style Type –</span> Determines the action button options which will be displayed to end users. </li>
        </ul>
        <ul style="list-style-type: circle;margin-left: 72pt;">
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Display Editor with Action Buttons –</span> Will provide potential action edit functionality to end users.</li>
            <li class="ListParagraph" style="list-style-type: circle;"><span style="font-weight: bold;">Display Only Action Buttons –</span> Will display only the action button and not the editor.&#160; </li>
        </ul>
    </body>
</html>