<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Maintain View Collection Sets</h1>
        <p>Within the “configure” tab of the views module, the “Maintain View Collection Sets” wizard will allow users to create and maintain not only view collection sets, but also view collections and groups. In the context of view creation and maintenance, groups are merely an organizational tool intended to resemble a folder like structure; they should not be confused with other grouping systems within JustEnough such as inventory groups, item master groups, etc.</p>
    </body>
</html>