<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >OLAP Pivot Grids</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-family: Consolas;color: #008080;font-size: 10pt;">WidgetTypeID</span> = 8</li>
        </ul>
        <p>An OLAP pivot grid widget is visually identical to the standard pivot grid. The OLAP pivot grid must link to an OLAP cube data structure in order to return a large amount of data to the JustEnough user interface. Data may be organized and manipulated in many ways, similar to how it is done in the standard pivot grid. </p>
        <p>&#160;</p>
    </body>
</html>