<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Practical Application</h1>
        <h1 >Standard Views</h1>
        <p>The standard views commonly used throughout the JustEnough planning modules may be accessed in the views module if desired. Although users typically access these views in their respective view collections and view collection sets, they may be loaded one at a time within the views module.</p>
    </body>
</html>