<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Presentation</h1>
        <p>The presentation section determines the details and additional features of the chart.</p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Chart – </span>Allows users to affect the appearance of the chart, including background colors, fill styles, borders, and other settings. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Diagram –</span> The diagram section will allow users to manipulate the layout, rotation, scrolling, and zoom functions of the chart. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Panes –</span> Panes will frame the chart. This feature may not be available for all chart types.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Axes –</span> The axes settings will determine if and how the chart axes are displayed. This feature may not be available for all chart types.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Series Views –</span> Series views will allow users to manipulate how the individual series in the chart are displayed and treated.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Point Labels –</span> The point labels section will affect how the data points are graphically represented within the chat. If it is intended for the values to be presented as part of the chart, users must determine how they would like to view that information.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Chart Titles –</span> Chart titles allows users to add a title to the chart. This may be unnecessary as the widget name is typically displayed at the header level of the container.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Legend –</span> If the chart requires or would benefit from the use of a legend, this may be added using the legend settings.&#160; </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Annotations –</span> Any required annotations may be added using the annotations settings.&#160; </li>
        </ul>
    </body>
</html>