<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Rolling Actions </h1>
        <p>The rolling actions settings will determine how changes made to the data affect (or roll out to) other data fields within the widget. </p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Set </span><span style="font-weight: bold;">F</span><span style="font-weight: bold;">ields</span> – Will define the group. Set Fields is a multi-select so users may pick more than one (i.e. product level ID and channel level ID in Merchandise Financial Planning).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Order </span><span style="font-weight: bold;">F</span><span style="font-weight: bold;">ields</span> – Will determine the direction in which the data roles. Typically, these are date fields.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Condition</span> – Will determine under which condition users intend to cause the data to roll forward (i.e. in Merchandise Financial Planning, only roll for future periods).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Previous </span><span style="font-weight: bold;">Source</span><span style="font-weight: bold;"> Row Field</span> – Defines the source of the data to be rolled. Must be a base level field.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Next </span><span style="font-weight: bold;">Destination</span><span style="font-weight: bold;"> Row Field</span> – Defines the destination. Must be a base level field.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Do </span><span style="font-weight: bold;">A</span><span style="font-weight: bold;">ccept </span><span style="font-weight: bold;">C</span><span style="font-weight: bold;">hanges</span> – Enables the rolling action. </li>
        </ul>
    </body>
</html>