<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Row Total Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Row Grand Totals – </span>Will display the grand totals for rows which may be summed.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Show Row Totals –</span> Will display the total for the row if the column may be summed.</li>
        </ul>
    </body>
</html>