<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Schedule Tree Data Mapping</h1>
        <p>The schedule tree data mapping section will determine how the data returned in the schedule tree data selection method is used. </p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Caption – </span>The label for the entity in the hierarchy tree. The caption will need to be mapped to a field in the stored procedure.  </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Resource ID –</span> Defines the link between the schedule tree and the schedule data. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Parent ID –</span> If the schedule tree object is hierarchal in nature, this will define will hierarchal parented relationship. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Color –</span> Defines the color of the schedule tree object. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Image –</span> If there is an associated image (icon) within the method, this value will go here (index number).</li>
        </ul>
    </body>
</html>