<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Schedule Data Mapping</h1>
        <p>The schedule data mapping section will determine how the data returned in the schedule data selection method is used. </p>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">ID – </span>Identification number for the schedule data object. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Name –</span> Name for the schedule data object. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Description –</span> A description of the schedule data object.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Start –</span> The start datetime for the schedule data object.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">End –</span> The end datetime for the schedule data object.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Color –</span> Defines the color of the schedule data object.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Resource ID –</span> Defines the link between the schedule tree and the schedule data.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">All Day Flag –</span> If the schedule data object consumes the entire day, this flag may be checked.  </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Double Click Action –</span> Clicking on “manage action” allows users to define an action associated with a mouse double-click. </li>
        </ul>
    </body>
</html>