<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Schedules</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-family: Consolas;color: #008080;font-size: 10pt;">WidgetTypeID</span> = 5</li>
        </ul>
        <p>Schedule widgets are used for tracking and graphically representing any time of time-based schedule, such as a calendar or an outline of tasks to be executed. </p>
    </body>
</html>