<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="4" MadCap:lastHeight="302" MadCap:lastWidth="2214">
    <head><title></title>
    </head>
    <body>
        <h1 >Single Column Pivot Grids</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-family: Consolas;color: #008080;font-size: 10pt;">WidgetTypeID</span> = 4</li>
        </ul>
        <p>Single column pivot grids are, at their essence, a pivot grid. They have a different layout for use cases when the data requirements dictate that some of the data may be aggregated, but some may not. Appropriate examples of this are the assortment planning selection widgets, wherein the item information is not able to be aggregated, but the quantities by channel are pivotable. </p>
    </body>
</html>