<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Structured Report</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-family: Consolas;color: #008080;font-size: 10pt;">WidgetTypeID</span> = 7</li>
        </ul>
        <p>The structured reports widget give power users an opportunity to make WinForms like reports within the JustEnough tool. These can mimic products such as Microsoft Word and will allow for advanced reporting to be produced within JustEnough. </p>
    </body>
</html>