<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="4" MadCap:lastHeight="3544" MadCap:lastWidth="2655">
    <head><title></title>
    </head>
    <body>
        <h1 >Technical Execution</h1>
        <p>View collection set data are stored in the database in the “<span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW</span>” namespace. While it is typical to create a view collection set in the user interface using the method described in the practical application section, they may also be created with a SQL script as follows (example is for merchandise financial planning):</p>
        <p>&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;font-family: Consolas;color: #008000;font-size: 10pt;">-- Create View Collection Set</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">IF</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">NOT</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">EXISTS</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">SELECT</span><span style="font-family: Consolas;font-size: 10pt;"> 1</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">FROM</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">dbo</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">.</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW_ViewCollectionSet</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">WHERE</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">name</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #FF0000;font-size: 10pt;">'Merchandise Financial Planning'</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">BEGIN</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;">&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">DECLARE</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">@iViewCollectionSetID</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">INT</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">INSERT</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">INTO</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">dbo</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">.</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW_ViewCollectionSet</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">Name</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">,</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">Description</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">VALUES</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #FF0000;font-size: 10pt;">N'Merchandise Financial Planning'</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">,</span><span style="font-family: Consolas;color: #FF0000;font-size: 10pt;">N'Merchandise Financial Planning View Collection'</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;font-size: 10pt;">&#160;&#160; </span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;">&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">SET</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">@iViewCollectionSetID</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #FF00FF;font-size: 10pt;">SCOPE_IDENTITY</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">()</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">END</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">ELSE</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">BEGIN</span><span style="font-family: Consolas;font-size: 10pt;">&#160; </span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;">&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">SET</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">@iViewCollectionSetID</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">SELECT</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewCollectionSetID</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">FROM</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW_ViewCollectionSet</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">WHERE</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">Name</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #FF0000;font-size: 10pt;">'Merchandise Financial Planning'</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;">&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">END</span>
        </p>
        <p style="margin-left: 5pt; margin-right: 5pt; margin-bottom: 0pt;">&#160;</p>
        <p>This will create and name the view collection set. </p>
        <p>The view collection set will need to be parented by a group. A group for the above example may be created using the following script:</p>
        <p>&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #008000;font-size: 10pt;">-- Create View Goup</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">IF</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">NOT</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">EXISTS</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">SELECT</span><span style="font-family: Consolas;font-size: 10pt;"> 1</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">FROM</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW_ViewGroup</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">WHERE</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewGroupName</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #FF0000;font-size: 10pt;">'Merchandise Financial Planning'</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">BEGIN</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;">&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">DECLARE</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">@iViewGroupID</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">INT</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">INSERT</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">INTO</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">dbo</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">.</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW_ViewGroup</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewGroupName</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">,</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewGroupDescription</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">VALUES</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #FF0000;font-size: 10pt;">N'Merchandise Financial Planning'</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">,</span><span style="font-family: Consolas;color: #FF0000;font-size: 10pt;">N'Merchandise Financial Planning View Group'</span> <![CDATA[ ]]></p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;">&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">SET</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">@iViewGroupID</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #FF00FF;font-size: 10pt;">SCOPE_IDENTITY</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">()</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;">&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">END</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">ELSE</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">BEGIN</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">SELECT</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">@iViewGroupID</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewGroupID</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">FROM</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW_ViewGroup</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">WHERE</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewGroupName</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #FF0000;font-size: 10pt;">'Merchandise Financial Planning'</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">END</span>
        </p>
        <p>&#160;</p>
        <p>The view collection may be parented by the group using the following script:</p>
        <p>&#160;</p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #008000;font-size: 10pt;">-- Link View Collection set to View Collection Set Group</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">IF</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">NOT</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">EXISTS</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">SELECT</span><span style="font-family: Consolas;font-size: 10pt;"> 1</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">FROM</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">dbo</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">.</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW_ViewCollectionSetRelationshipToViewCollectionSetGroup</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">WHERE</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewCollectionSetID</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">@iViewCollectionSetID</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">AND</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewCollectionSetGroupID</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">=</span><span style="font-family: Consolas;font-size: 10pt;"> 5 </span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">BEGIN</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">INSERT</span><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">INTO</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">dbo</span><span style="font-family: Consolas;color: #808080;font-size: 10pt;">.</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">tbl_VW_ViewCollectionSetRelationshipToViewCollectionSetGroup</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewCollectionSetID</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">,</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewCollectionSetGroupID</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">VALUES</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">(</span><span style="font-family: Consolas;color: #008080;font-size: 10pt;">@iViewCollectionSetID</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">,</span><span style="font-family: Consolas;font-size: 10pt;"> 5</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #808080;font-size: 10pt;">)</span>
        </p>
        <p style="margin-left: 5pt;margin-right: 5pt;margin-bottom: 0pt;"><span style="font-family: Consolas;color: #0000FF;font-size: 10pt;">END</span>
        </p>
        <p style="margin-left: 5pt; margin-right: 5pt; margin-bottom: 0pt;">&#160;</p>
        <p style="margin-bottom: 0pt;">“5” is the specific <span style="font-family: Consolas;color: #008080;font-size: 10pt;">ViewCollectionSetID </span>for this example.</p>
    </body>
</html>