<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Update Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Confirmation Message on Update – </span>If checked, will pop a confirmation message if the data has been updated by the user. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Confirmation Message –</span> The text of the confirmation message. Will default to “Save Changes?”</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Refresh Data on Update –</span> If checked, the data will update when changed. This option should be checked by default. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Refresh Widget Siblings –</span> Must be checked in order for dependent widgets within the view require data updates. </li>
        </ul>
    </body>
</html>