<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Update Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Refresh Data on Add – </span>Will refresh the grid if data is added which may be returned. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Refresh Data on Update – </span>Will refresh the grid if data is updated which may be returned.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Refresh Data on Delete – </span>Will refresh the grid if data is deleted which may no longer be returned.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Confirmation Message on Successful Update – </span>Will present a confirmation message upon successfully updating data. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Confirmation Message – </span>The message which will be presented (default: “Changes Saved”).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Confirmation Message Before Add Operation – </span>If selected, will present a confirmation before data is added. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Confirmation Message Before Add Operation – </span>The message which will be presented (Default: “Allow Add Operation?”).</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Allow Confirmation Message Before Delete Operation – </span>If selected, will present a confirmation before data is deleted. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Confirmation Message Before Delete Operation – </span>The message which will be presented (Default: “Allow Delete Operation?”).</li>
        </ul>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Refresh Widget Siblings – </span>Must be checked in order for dependent widgets within the view require data updates. </li>
        </ul>
    </body>
</html>