<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >User Options</h1>
        <ul style="list-style-type: disc;margin-left: 36pt;">
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Options – </span>When using the pivot chart, will populate the chart control options for the end user. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Chart Type </span>– Allows users to edit the chart type. Certain chart types will be more conducive to pivot data. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Show Legend – </span>Allows users to toggle the legend on and off. </li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Show Point Labels – </span>Allows users to toggle the point labels on and off.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Generate Series From Columns – </span>Allows users to toggle the series generation options.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Graph Column Grand Totals – </span>Allows users to toggle the column grand totals on and off.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Graph Column Totals – </span>Allows users to toggle the column totals on and off.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Graph Row Grand Totals – </span>Allows users to toggle the row grand totals on and off.</li>
            <li class="ListParagraph" style="list-style-type: disc;"><span style="font-weight: bold;">Pivot Chart Display User Graph Row Totals – </span>Allows users to toggle the row totals on and off.</li>
        </ul>
    </body>
</html>