<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 class="Heading1">Views</h1>
        <p>Within JustEnough, views are the main interface for users to interact with data elements. Views are designed around specific workflows with common tasks for a specific level of user access rights. </p>
        <p>Views exist as a container for one or more widgets. Any views assembled as part of a standard JustEnough module will be contained within an appropriate view collection and view collection set. Any custom views used for reporting or custom workflows and maintenance screens may be accessed within the views module. </p>
    </body>
</html>