<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 class="Heading1">Views Overview</h1>
        <p>Views provide a way for business teams to view, interact and manipulate critical data that can be key to the decision making process. Views are built and organized in the views module inside the JustEnough user interface. View collections and view collection sets may be organized within this module and are an integral part of the events, assortment planning, and promotions modules as well several others.</p>
        <p>Through proper leverage of the views module, JustEnough is highly extensible and customizable in the hands of a fully equipped technical resource. The views module, in conjunction with the creation of SQL views, will provide the required toolkit for building custom reports and maintenance screens in order to accommodate any necessary custom workflows.</p>
    </body>
</html>