<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 class="Heading1">View Collection Sets</h1>
        <h1 >Essential Business Concepts</h1>
        <p>View collection sets exist as containers for view collections. View collection sets may be thought of as the workflow presented to the user upon clicking on a module name. </p>
        <p>In order to properly configure a view collection set, the view collections intended for inclusion must exist. Once the necessary view collections have been created, they may be included and ordered within the view collection set.</p>
    </body>
</html>