<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Widgets</h1>
        <p>Widgets are the lowest level of view classification in that a widget will be a part of a particular view. Widgets are a way for JustEnough to display data for the user. There are many varieties of widgets, including data grids, pivot grids, single column pivot grids, charts, forms, schedule, and browser.</p>
    </body>
</html>