<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 class="Heading1">Widgets</h1>
        <p><span style="color: #000000;">Widgets are an extremely flexible and powerful means by which to display data within a JustEnough view. Easily the most customizable feature within the JustEnough software suite, the effective use of widgets is essential to a successful user experience. </span>As the core work surfaces within JustEnough, widgets will display the information via data grids, pivot grids, graphs or schedules and provide users with opportunities to interact with relevant data in a straightforward and intuitive manner. One or more widgets will be contained in a particular view.</p>
    </body>
</html>