<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1 >Write Back Settings </h1>
        <p>Additional writeback settings will give users the option to have multiple aux writebacks for a single column. These will function alongside the single aux writeback available within the column properties section. Users may use the additional writeback settings window exclusively for creating and maintaining aux writebacks. </p>
    </body>
</html>