/*<meta />*/

/* Home Page General Styles*/
/*==Home Page General Styles==*/

body
{
	font-family: Arial;
	line-height: 1.5em;
	background-color: #fff;
}

h1
{
	font-size: 2.75em;
	color: #fff;
}

h2
{
	font-size: 1.6785em;
	color: #4992e5;
}

p
{
	color: #5a5a5a;
	margin-bottom: 8px;
	margin-top: 8px;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

.off-canvas-content .main-section > .outer-row
{
	max-width: 100%;
	padding: 0;
}

/*==Mad Cap proxy/editor assigned styles==*/

MadCap|searchBarProxy
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	float: none;
	width: 50%;
}

MadCap|topicToolbarProxy
{
	float: none;
}

MadCap|menuProxy.menu1
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

MadCap|menuProxy.menu2
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

html.home-page
{
	mc-community-features: disabled;
}

/*==Responsive Header Styles==*/

#contentBody > .responsive-header
{
	background-color: transparent;
}

/* Content Section */
/*==Home Page Hero Section==*/

div.topichero
{
	padding-bottom: 150px;
	padding-top: 150px;
	background-color: #d3d3d3;
	background-size: cover;
	background-repeat: no-repeat;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center 0;
	background-image: url('../Images/Assets/HeroImage-1.jpg');
	height: 400px;
}

/*==Search bar elements==*/

.search-field	/*The box-shadow property is applied to style to provide shadow on the search bar*/
{
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.search-container
{
	margin-top: -36px;
	margin-bottom: 100px;
}

/*==Home Tiles section==*/

div.home-tiles	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	/*Adds transition animation when switching between screen sizes*/
	-moz-border-radius: 20x;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #d3d3d3;
	padding: 0px;
	overflow: hidden;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

div.home-tiles > div:hover	/*When hovering over a home-tile, these properties apply*/
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.home-tiles > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 25%;
}

div.home-tiles > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 1%;
}

div.home-tiles > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 1%;
}

/*=Elements for text contained within each home-tile=*/

p.tile-title
{
	text-align: center;
	color: #ffffff;
	font-size: 1.4em;
	margin: 25px 0 0%;
}

div.home-tiles a	/*Complex Selector: Any anchor (links) tags that are within div.home-tiles will have the following properties*/
{
	text-decoration: none;
	color: #ffffff;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.home-tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: #6f6f6f;
}

@media mobile
{
	#content-section
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	div.search-container
	{
		margin-bottom: 50px;
	}

	p.tile-title
	{
		font-size: 1.2em;
	}

	p.info-title
	{
		font-size: 2em;
	}

	p.info-content
	{
		font-size: 1em;
	}

	div.home-tiles > div
	{
		margin-top: 2%;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 90%;
		margin-left: 5%;
	}
}

